// ========
// Variables
// ========
$color--base: #212121;
$color--damage: #e0e0e0;
$color--primary: #ffd54f;
$color--primary-dark: #ffc107;

// ========
// Global Styles
// ========

* {
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;

  height: 100%;
  margin: 0;
}

// ========
// Styles
// ========

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  height: 100%;
}

// ===
// Clickable Box

#box {
  width: 200px;
  height: 200px;

  background-color: $color--base;

  &:hover {
    cursor: pointer;
  }

  &.shake {
    animation: shake .3s;
  }

  &.shake2 {
    animation: shake2 .3s;
  }
}

// ===
// "HUD"

.hud {
  margin-top: 25px;
}

// ===
// Achievements

#achievements-list {
  position: fixed;
  top: 15px;
  right: 15px;

  margin: 0;
  padding: 0;
}

.achievement-card {
  padding-bottom: 15px;

  list-style: none;

  opacity: 0;

  .content {
    box-sizing: border-box;
    width: 350px;
    height: 100px;
    padding: 12px;

    transition: all 1s;

    color: #212121;
    background-color: $color--primary;

    img {
      float: left;
    }

    h5 {
      font-weight: 100;

      margin: 0 0 10px 85px;
    }

    h4 {
      font-family: 'Avenir';
      font-weight: 500;

      margin: 0 0 0 85px;
    }
  }
}

// ===
// Popups
.popup {
  font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif;
  font-size: 2.5em;
  font-weight: bold;

  position: fixed;

  user-select: none;
  animation: hoverUp forwards;
  pointer-events: none;

  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $color--primary-dark;
}

// ========
// Shopping
// ========

$background--shop: #ddd;
$width--shop: 250px;
$width--shop-icon: 50px;

#shop-wrapper {
  position: fixed;
  top: 0;
  left: -$width--shop;

  width: $width--shop;

  transition: transform .3s ease;

  border-radius: 0 0 10px 10px;
  background-color: $background--shop;

  will-change: transform;

  &.active {
    transform: translateX($width--shop);
  }

  .shop {
    padding: 15px;
  }

  h1 {
    margin-top: 0;
  }

  .shop-icon {
    position: absolute;
    right: -$width--shop-icon;

    width: 50px;
    height: 50px;

    border-radius: 0 0 10px 0;
    background-color: #ddd;

    &:hover {
      cursor: pointer;
    }
  }

  .shop-item-list {
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;

    list-style: none;
    justify-content: space-between;


    li {
      font-size: 1.25rem;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 65px;
      height: 65px;
      margin: 4px;

      user-select: none;
      transition: all 300ms -125ms;

      background-color: #e5e5e5;

      &.active {
        transform: scale(1.05, 1.05);

        background-color: #f5f5f5;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .shop-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    height: 65px;
    padding: 0 15px 15px;
  }

  #buy-btn {
    font-size: 1.25rem;

    height: 50px;
    padding: .75rem 1.5rem;

    transition: all .25s -.1s;

    border: 0;
    border-bottom: 4px solid mix($color--primary, #000, 85%);
    background-color: $color--primary;

    &:disabled {
      border-bottom: 4px solid rgba(#000, .25);
      background-color: #ccc;
    }

    &:hover {
      cursor: pointer;
    }

    &:active {
      margin-top: 4px;

      border: 0;
    }
  }
}

// ========
// Animations
// ========
.popIn {
  animation: popIn .6s forwards;
}

.popOut {
  animation: popOut .6s forwards;
}

.minimizeOut {
  animation: minimizeOut .3s forwards;
}

@keyframes shake {
  0%,
  100% {
    transform: 0;

    background-color: $color--base;
  }

  10% {
    transform: rotate(6deg) translate3d(12px, -12px, 0) scale(.95, .95);

    background-color: $color--damage;
  }

  20% {
    transform: rotate(6deg) translate3d(15px, -12px, 0) scale(.95, .95);

    background-color: $color--damage;
  }
}

@keyframes shake2 {
  0%,
  100% {
    transform: 0;

    background-color: $color--base;
  }

  10% {
    transform: rotate(-4deg) translate3d(-12px, -12px, 0) scale(.90, .90);

    background-color: $color--damage;
  }

  20% {
    transform: rotate(-4deg) translate3d(-15px, -12px, 0) scale(.90, .90);

    background-color: $color--damage;
  }
}

@keyframes popIn {
  0% {
    transform: none;

    opacity: 0;
  }

  50% {
    transform: scale(1.05, 1.05);

    opacity: 1;
  }

  100% {
    transform: none;

    opacity: 1;
  }
}

@keyframes popOut {
  0% {
    transform: none;

    opacity: 1;
  }

  50% {
    transform: scale(1.05, 1.05);

    opacity: 1;
  }

  100% {
    transform: none;

    opacity: 0;
  }
}

@keyframes minimizeOut {
  0% {
    overflow: hidden;

    max-height: 100px;
  }

  100% {
    overflow: hidden;

    max-height: 0;
    padding: 0;
  }
}

@keyframes hoverUp {
  0% {
    transform: none;

    opacity: 1;
  }

  50% {
    transform: translatey(-20px);

    opacity: 1;
  }

  100% {
    transform: translatey(-20px);

    opacity: 0;
  }
}
